<a href="https://colab.research.google.com/github/faikozcan/MLFraud/blob/main/MLFraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
import requests
import io

url="https://raw.githubusercontent.com/faikozcan/MLFraud/main/dataFiles/Fraud_Data.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')),sep = ",")
c.head()

   user_id          signup_time        purchase_time  ...  age    ip_address class
0    22058  2015-02-24 22:55:49  2015-04-18 02:47:11  ...   39  7.327584e+08     0
1   333320  2015-06-07 20:39:50  2015-06-08 01:38:54  ...   53  3.503114e+08     0
2     1359  2015-01-01 18:52:44  2015-01-01 18:52:45  ...   53  2.621474e+09     1
3   150084  2015-04-28 21:13:25  2015-05-04 13:54:50  ...   41  3.840542e+09     0
4   221365  2015-07-21 07:09:52  2015-09-09 18:40:53  ...   45  4.155831e+08     0

[5 rows x 11 columns]

In [45]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         151112 non-null  int64
 1   signup_time     151112 non-null  object
 2   purchase_time   151112 non-null  object
 3   purchase_value  151112 non-null  int64
 4   device_id       151112 non-null  object
 5   source          151112 non-null  object
 6   browser         151112 non-null  object
 7   sex             151112 non-null  object
 8   age             151112 non-null  int64
 9   ip_address      151112 non-null  float64
 10  class           151112 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 12.7+ MB

In [46]:
c.describe()

             user_id  purchase_value  ...    ip_address          class
count  151112.000000   151112.000000  ...  1.511120e+05  151112.000000
mean   200171.040970       36.935372  ...  2.152145e+09       0.093646
std    115369.285024       18.322762  ...  1.248497e+09       0.291336
min         2.000000        9.000000  ...  5.209350e+04       0.000000
25%    100642.500000       22.000000  ...  1.085934e+09       0.000000
50%    199958.000000       35.000000  ...  2.154770e+09       0.000000
75%    300054.000000       49.000000  ...  3.243258e+09       0.000000
max    400000.000000      154.000000  ...  4.294850e+09       1.000000

[8 rows x 5 columns]

In [57]:
c['purchase_value']

0         34
1         16
2         15
3         44
4         39
          ..
151107    43
151108    35
151109    40
151110    46
151111    20
Name: purchase_value, Length: 151112, dtype: int64