<a href="https://colab.research.google.com/github/faikozcan/MLFraud/blob/main/MLFraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Data With  Request To GitHub And Read Columns From CSV

In [2]:
import pandas as pd
import requests
import io
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

url="https://raw.githubusercontent.com/faikozcan/MLFraud/main/dataFiles/Fraud_Data.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')),sep = ",",usecols=["user_id","device_id","source","browser","purchase_value","sex","age","class"])

In [3]:
c.describe()

             user_id  purchase_value            age          class
count  151112.000000   151112.000000  151112.000000  151112.000000
mean   200171.040970       36.935372      33.140704       0.093646
std    115369.285024       18.322762       8.617733       0.291336
min         2.000000        9.000000      18.000000       0.000000
25%    100642.500000       22.000000      27.000000       0.000000
50%    199958.000000       35.000000      33.000000       0.000000
75%    300054.000000       49.000000      39.000000       0.000000
max    400000.000000      154.000000      76.000000       1.000000

Basic one-hot encoding with Pandas

In [ ]:
one_hot_encoded_training_predictors=pd.get_dummies(c)

Split Test And Training Data

In [1]:
y = c['class']
X = c.drop(['class'], axis = 1)
# Split the dataset to trainand test data
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.25, random_state=0)

NameError: ignored

Random Forest Algoritm

In [5]:
parameters = {'bootstrap': True,
              'min_samples_leaf': 3,
              'n_estimators': 50, 
              'min_samples_split': 10,
              'max_features': 'sqrt',
              'max_depth': 6,
              'max_leaf_nodes': None}
RF_model = RandomForestClassifier(**parameters)
RF_model.fit(train_X, train_y)
RF_predictions = RF_model.predict(test_X)
score = accuracy_score(test_y ,RF_predictions)
print(score)

0.9076976017788131